<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hell0</h3>
            <h1 class="text-uppercase">I am Dhirendra Singh Negi</h1>
            <h5 class="text-uppercase">senior .Net developer</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" routerLink="contact"><span>Hire Me</span></a>
              <a class="primary_btn tr-bg" href="#"><span>Get CV</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="../../../assets/img/banner/home-right.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->
<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="../../../assets/img/about-us.png" alt="" />
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>
            let’s <br />
            Introduce about <br />
            myself
          </h2>
          <p>
            My name is Dhirendra Singh Negi, a .NET Full Stack Developer with over two years of experience and a
            Bachelor's degree in Computer Science.
          </p>
          <p>
            I specialize in ASP.NET Core, Angular, and SQL Server. I hold certifications
            as a Microsoft DevOps Engineer Expert, Azure Developer Associate, and Azure AI Engineer Associate. My
            technical expertise includes full-stack development, cloud services, and microservices architecture. I'm
            passionate about delivering high-quality software solutions and solving complex problems.
          </p>
          <a class="primary_btn" href="#"><span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Srart Brand Area =================-->
<section class="brand_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo1.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo2.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo3.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo4.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo5.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo6.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo7.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo8.png" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img src="../../../assets/img/brands/logo9.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4 col-md-6">
        <div class="client-info">
          <div class="d-flex mb-50">
            <span class="lage">3+</span>
            <span class="smll">Years Experience Working</span>
          </div>
          <div class="call-now d-flex">
            <div>
              <span class="fa fa-phone"></span>
            </div>
            <div class="ml-15">
              <p>call us now</p>
              <h3>(+1)-800-555-6789</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Brand Area =================-->

<!--================ Start Features Area =================-->
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>Our Services</h2>
          <p>
            Offering expert solutions in web development, UI/UX design, full-stack development, and cloud integration.
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="../../../assets/img/services/s1.png" alt="" />
          <h4>Full-Stack Development</h4>
          <p>
            Comprehensive development services using ASP.NET Core and Angular to create robust and scalable web
            applications.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="../../../assets/img/services/s2.png" alt="" />
          <h4>UI/UX Design</h4>
          <p>
            Crafting intuitive and responsive user interfaces with HTML, CSS, and Bootstrap for an enhanced user
            experience.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="../../../assets/img/services/s3.png" alt="" />
          <h4>Web Development</h4>
          <p>
            Building dynamic websites and applications with modern frameworks and technologies to meet your business
            needs.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="../../../assets/img/services/s4.png" alt="" />
          <h4>Cloud Integration</h4>
          <p>
            Integrating cloud services such as Azure for scalable storage solutions, authentication, and DevOps
            automation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--================ End Features Area =================-->

<!--================Start Portfolio Area =================-->
<section class="portfolio_area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main_title text-left">
          <h2>
            quality work <br />
            Recently done project
          </h2>
        </div>
      </div>
    </div>
    <app-portfolio-gallery></app-portfolio-gallery>
  </div>
</section>
<!--================End Portfolio Area =================-->

<!--================ Start Testimonial Area =================-->
<app-testimonial></app-testimonial>
<!--================ End Testimonial Area =================-->

<!--================ Start Newsletter Area =================-->
<section class="newsletter_area">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-12">
        <div class="subscription_box text-center">
          <h2 class="text-uppercase text-white">get update from anywhere</h2>
          <p class="text-white">
            Bearing Void gathering light light his eavening unto dont afraid.
          </p>
          <div class="subcribe-form" id="mc_embed_signup">
            <form target="_blank" novalidate="true"
              class="subscription relative">
              <input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email address'" required="" type="email" />
              <div style="position: absolute; left: -5000px">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text" />
              </div>
              <button class="primary-btn hover d-inline">Get Started</button>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Newsletter Area =================-->